body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
header img {
    margin-top: -30px;
}
nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}
nav a {
    text-decoration: none;
    color: black;
}
main{
    text-align: center;
}
.txt{
    font-family: 'Montserrat';
    font-weight: 550;
    font-size: 53px;
    line-height: 1;
}

.txt2{
    font-family: 'Montserrat';
    font-weight: 350;
    font-size: 14px;
}

.txt4 {
    margin-bottom: 40px; /* Espaçamento entre os textos */
}
.txt6{
    font-family: 'Montserrat';
    font-weight: 550;
    font-size: 53px;
    line-height: 1;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.acompanhe{
    font-family: 'Montserrat';
    font-weight: 350;
    font-size: 14px;
}
.botao{
    font-family: 'montserrat';
    padding: 14px 65px; /* Espaçamento interno do botão */
    border-radius: 20px; /* Raio de curvatura das bordas */
    background-color: #1e71eb; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    font-weight: 600;
    font-size: 10px;

}
.botao:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse sobre o botão */
    color: black;
    border: 1px solid black;
}
.botao2{
    font-family: 'montserrat';
    padding: 14px 65px; /* Espaçamento interno do botão */
    border-radius: 20px; /* Raio de curvatura das bordas */
    background-color: #1e71eb; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    font-weight: 600;
    font-size: 10px;

}
.botao2:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse sobre o botão */
    color: black;
    border: 1px solid black;
}
.imagem__azul{
    margin-top: 5%;
}
.imagem__todos{
    margin-top: -1%;
}
.imagem__loja{
    margin-top: 5%;
    width: 75%;
}
.local1, .local2, .local3, .local4{
    color: white;
    font-family: 'Montserrat', sans-serif;
text-decoration: none;
}


footer {
    background-color: #1e71eb;
    padding: 10px;
    color: white;
    text-align: left; /* Alinhar todo o conteúdo à esquerda */
    margin-top: 110px;
    width: 100%;
    font-size: 13px;
    display: flex;
   
    justify-content: left; /* Centraliza o conteúdo horizontalmente */
    align-items: center;

}
footer h2 {
    margin-left: 120px; /* Ou o valor desejado */
    font-size: 23px;
    font-weight: 600;
}
footer img {
    margin-left: 110px; /* Ou o valor desejado */
}
footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar os itens à esquerda */

}

footer ul a {
    text-decoration: none;
    color: white;
}
.redes {
    width: 45%; /* Largura da div de redes */
    padding: 10px;
    box-sizing: border-box; /* Para incluir padding na largura */
}

.redes h2 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.redes img {
    margin-left: 110px; /* Ou o valor desejado */
}

.redes a {
    text-decoration: none;
    color: white;
}

.redes .instagram {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.redes .facebook {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.redes .whatsapp {
    color: white;
    font-family: 'Montserrat', sans-serif;
}